*{margin:0;padding:0;}
html,body{overflow:hidden;}
ul{list-style:none;}
.pages,.page{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
}
.page{
	left:100%;
	background:#f8f8f8;
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.5);
}
#toEva{
	left:0;
}
.box_form{
	width:660px;
	margin:40px auto auto auto;
}
.form_titles{
	line-height:44px;
	font-size:40px;
	color:#2f83ff;
}
.form_content{
	margin:50px auto auto auto;
}
.form_line{
	position:relative;
	line-height:44px;
	margin:30px auto;
}
.checkbox{
	display:none;
}
.checkbox_label{
	position:relative;
	display:block;
	float:left;
	width:26px;
	height:26px;
	margin-top:10px;
	background:url(../img/icon_unchecked.png) center center no-repeat;
	cursor:pointer;
}
.checkbox_label_checked{
	background:url(../img/icon_checked.png) center center no-repeat;
}
.form_text{
	padding:0 30px;
	font-size:30px;
	vertical-align:middle;
}
.text_input{
	outline:none;
	box-sizing:border-box;
	display:inline-block;
	width:400px;
	height:40px;
	line-height:40px;
	padding:0 10px;
	font-size:30px;
	border:1px solid #7c7c7c;
	vertical-align:middle;
}
.box_btn{
	padding:30px 0;
	text-align:center;
}
.button{
	outline:none;
	line-height:44px;
	*line-height:normal;
	padding:0 40px;
	background:#2f83ff;
	border:2px solid #2f83ff;
	border-radius:5px;
	color:#fff;
	font-size:26px;
	margin:auto 50px;
}
.button:active{
	opacity:0.8;
}
.btn_stroke{
	background:#fff;
	color:#2f83ff;
}
.box_img,.imgs{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
	z-index:99;
}
.imgs img{
	width:100%;
	height:100%;
}
.header{
	padding:30px;
}
.logo{
	width:128px;
	height:35px;
	background:url(../img/logo.png);
	display:block;
	float:left;
}
.logo_right{
	display:block;
	width:60px;
	height:63px;
	float:left;
	background:url(../img/logo_right.png);
	margin-left:20px;
}
.main_content{
	position:absolute;
	top:95px;
	right:0;
	bottom:0;
	left:0;
}
.con_title{
	margin:60px auto;
	text-align:center;
	font-size:44px;
}
.box_eva_emog{
	text-align:center;
	width:640px;
	margin:auto;
}
.box_eva_emog li{
	width:150px;
	float:left;
	margin:auto 30px;
	cursor:pointer;
}
.box_eva_emog li span{
	display:block;
	text-align:center;
	font-size:34px;
	padding:30px 0;
}
.box_eva_emog li div{
	height:150px;
}
.icon_bumanyi{
	background:url(../img/icon_bumanyi.png) center center no-repeat;
}
.icon_yiban{
	background:url(../img/icon_yiban.png) center center no-repeat;
}
.icon_manyi{
	background:url(../img/icon_manyi.png) center center no-repeat;
}
.text_gray{
	color:#999;
}
.eva_result_text{
	position:absolute;
	width:100%;
	line-height:64px;
	top:50%;
	margin-top:-70px;
	text-align:center;
	font-size:44px;
}
.eva_result{
	bottom:70px;
}
.footer{
	position:absolute;
	width:100%;
	left:0;
	height:70px;
	bottom:0;
	background:url(../img/footer.png) center center no-repeat;
}
