/*一级标题 的字体、颜色、大小*/



/*二级标题 的字体、颜色、大小*/




/*正文字体、颜色、大小*/






/*分辨率区分*/
@media only screen and (min-width: 1500px) and (max-width: 1920px) {
	
}


@media only screen and (min-width: 1200px) and (max-width: 1499px) {
	
}

.warp{
	width: 100%;
	height: 100%;
	flex-flow: row;
	display: flex;
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
}
.left_menu{
	height: 100%;
	width: 250px;
	box-sizing: border-box;
	background: #0e1319;
}

.center_group{
	flex: 1;
	flex-flow: row;
	display: flex;
	flex-direction: column;
	background: #f2f3f5;
}

.top_menu{
	height: 80px;
	background: #f1f1f1;
}
.FWD_con{
	flex: 1;
	flex-flow: row;
	display: flex;
	overflow-y: auto;
}
.FWD_con_center{
	flex: 1;
	flex-flow: row;
	display: flex;
	margin: 0px 26px 26px 40px;
	flex-direction: column;
}
.right_son{
	width: 325px;
	margin: 0 0 26px 0;
	flex-flow: row;
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.notice_warp{
	height: 254px;
	background: #fff;
	border-radius: 8px;
	padding: 25px 30px 25px 30px;
	box-sizing: border-box;
}

.Task_ranking{
	flex: 1;
	margin-top: 26px;
	background: #fff;
	border-radius: 8px;
	padding: 0 28px;
	box-sizing: border-box;
	overflow-y: auto;
	display: flex;
	flex-flow: column;
}

.FWD_con_center_top{
	height: 254px;
	display: flex;
	flex-flow: row;
}
.FWD_con_tabs_warp{
	flex: 1;
	background: #fff;
	margin-top:26px ;
	overflow-y: auto;
	border-radius: 8px;
	padding: 30px 50px 0px 50px;
	display: flex;
	flex-flow: row;
	flex-direction: column;
}
.FWD_con_tabs_warp .three_group{
	flex: 1;
	display: none;
	
}
.FWD_con_tabs_warp .three_group.active{
	display: block;
}
.task_tab_warp{
	width: 300px;
	background: #fff;
	padding-left: 40px;
	padding-top: 38px;
	padding-right: 40px;
	box-sizing: border-box;
	border-radius: 8px;
}

.task_tab{
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	cursor: pointer;
}
.task_tab_nums{
	float: right;
}
.task_tab.active{
	color: #f68b1f;
}

.left_son_top_right{
	flex: 1;
	background: #fff;
	display: flex;
	flex-flow: row;
	margin-left: 26px;
	border-radius: 8px;
}
.left_son_top_right_son{
	flex: 1;
	box-sizing: border-box;
}
.logo{
	width:156px ;
	height: 42px;
	line-height: 60px;
	box-sizing: border-box;
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	margin-left: 48px;
	margin-top: 88px;
}
.Navigation_warp{
	margin-top: 115px;
}
.Navigation_warp_li{
	width: 100%;
	height: 60px;
	padding-left: 48px;
	box-sizing: border-box;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	margin-bottom: 8px;
}
.Navigation_warp_li.active,.Navigation_warp_li:hover{
	background: url(../img/navagation_bg.png) no-repeat;
}
.line{
	height: 160px;
	width: 3px;
	background: #f2f2f2;
	margin-top: 27px;
	border-radius: 2px;
	margin-top: 52px;
	
}

/*公告模块	开始---------------------------------------------------------------------------------------------------------*/
.notice_title{
	font-size: 18px;
}
.notice_info_warp{
	margin-top: 14px;
	max-height: 150px;
	overflow-y: hidden;
}
.notice_info_li{
	padding-left: 20px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	background: url(../img/notice_d.png) no-repeat 5px 20px;
	cursor: pointer;
	
}
/*公告模块  结束---------------------------------------------------------------------------------------------------------*/

/*表格单独样式	开始----------------------------------------------------------*/

table.dataTable .mechanism,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>.mechanism
{
	text-align: center;
}

/*任务搜索框*/
.search_input_warp{
	margin-bottom: 25px;
	display: none;
}
.task_search_input{
	height: 38px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	box-sizing: border-box;
	width: 50%;
	padding-left: 20px;
	float: left;
	margin-right: 2%;
}
.search_button_warp{
	height: 38px;
	box-sizing: border-box;
	border: 1px solid #1295f3;
	border-radius: 5px;
	float: left;
}
.search_input_warp.active{
	display: block;
}
.Obtain_btn{
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 100px;
	float: left;
	
}
.Obtain_arr{
	height: 36px;
	width: 30px;
	float: left;
	background: url(../img/);
}


/*.table 分页*/
.FWD_tables_warps{
	height: 416px;
	border: 1px solid #ccc;
}
.FWD_tables{
	table-layout: fixed;
}
.FWD_tables .FWD_tables_th,.FWD_tables_td{
	text-align: right;
	height: 45px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
	cursor: pointer;
	
}
.FWD_tables .FWD_tables_td{
	font-size: 14px;
}
.FWD_tables tbody tr:nth-child(odd){
	background: #fff9e9;
}
.FWD_tables tbody tr:last-child td{
	border-bottom: none;
}
.FWD_tables thead tr{
	background: #f8f9fe;
}
.page{
    list-style: none;
     float: right;
     margin-top: 10px;
    
}
.page>li{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
   margin-left: 10px;
   
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
    border-radius: 3px;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #dddddd;
}

/*各任务排行*/
.Task_ranking_title{
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
}
.Task_ranking_tab{
	display: flex;
	flex-flow: row;
}
.Task_ranking_tab_li{
	flex: 1;
	height: 40px;
	line-height: 37px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
	cursor: pointer;
}
.Task_ranking_tab_li.active{
	border-bottom: 2px solid #1295F3;
	color: #1295F3;
}
.Task_ranking_con{
	padding: 0 20px;
}
.Bar_graph{
	width: 20%;
}
.Task_ranking_Bar_graph{
	height: 184px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
}
.Bar_graph{
	position: absolute;
	bottom: 0;
	right: 0;
}
.Bar_graph_1{
	left: 0;
}
.Bar_graph_2{
	left: 50%;
	transform: translateX(-50%);
}
._height_{
	height: 60px;
	background: #ccc;
	border-radius: 5px;
}
.Bar_graph_2 ._height_{
	height: 100px;
}
.Task_ranking_nums_li{
	float: left;
	width: 33.3333%;
	padding:0 5px;
	box-sizing: border-box;
	margin-top: 30px;
}
.Task_ranking_nums{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.Task_ranking_nums_title{
	font-style: italic;
	text-align: center;
	font-size: 12px;
}
.Bar_graph_title{
	text-align: center;
	margin-bottom: 10px;
}
.Task_bottom{
	flex: 1;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	position: relative;
}
.Task_bottom_con{
	margin: 0 20px;
}

.Task_bottom_warp{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	text-align: center;
}
.Task_bottom_con{
	display: inline-block;
}

















