body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	color: #000;
}

html,
body {
	height: 100%;
}

body,
button,
input,
select,
textarea {
	font-size: 12px;
	font-family: 'Microsoft Yahei', '微软雅黑', \5FAE\8F6F\96C5\9ED1, '宋体', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica;
}

ul,
ol,
li,
dl,
dd,
dt {
	list-style: none;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

label,
button {
	cursor: pointer;
}


/*解决IE图片缩放失真*/

img {
	-ms-interpolation-mode: bicubic;
}


/*清除浮动*/

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
}


/*连续英文、数字换行*/

.wordwrap {
	word-break: break-all;
	word-wrap: break-word;
}


/*单行文字超出显示省略号*/

.FWD_ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*所有按钮、checkbox、radio显示pointer*/

input,
button,
input[type="radio"],
input[type="checkbox"],
textarea {
	background-color: transparent;
	cursor: pointer;
	resize: none;
}


input:focus,button:focus,input[type="checkbox"]:focus,input[type="radio"]:focus,textarea:focus{
	outline: none;
}
/*按钮初始样式*/
.btn_normal {
	width: 120px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

/*按钮鼠标划上的效果*/

button:hover {
	opacity: 0.8;
}


.btn_normal.btn_default{
	background: #ccc;
}
.btn_normal.btn_default:active{
	background: #c3c3c3;
}

/*按钮成功状态*/

.btn_normal.btn_success {
	background:#46be8a ;
}
/*成功按钮点击的效果*/

.btn_normal.btn_success:active {
	background:#00bf6c ;
}

/*按钮错误状态*/

.btn_normal.btn_error {
	background:#ff7272 ;
}
.btn_normal.btn_error:active{
	background: #ff3939;
}

/*按钮警告状态*/

.btn_normal.btn_warming {
	background: #f99800;
}
.btn_normal.btn_warming:active{
	background: #f9ae00;
}

.btn_normal.btn_win{
	background:#0093e7 ;
}
.btn_normal.btn_win:active{
	background: #00a5f7;
}

/*按钮禁用状态*/

.btn_normal:disabled {
	background: #ccc;
	cursor: not-allowed;
}





/*input获得焦点的效果*/
input{
	border: 1px solid #f1f1f1;
}
input:focus{
	box-shadow: 0px 0px 5px #c1c1c1;
}

/*自定义checkbox、radio样式*/
/*checkbox*/

.FWD_checkbox {
	display: none;
}

.FWD_radio:checked+label:disabled,
.FWD_checkbox+label:disabled {
	cursor: not-allowed;
}

.FWD_checkbox+label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 11px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.FWD_checkbox+label:active,
.FWD_checkbox:checked+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.FWD_checkbox:checked+label {
	border: 1px solid #1295f3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #99a1a7;
	background:url(../img/checkbox_bg.png) #1295f3;
	background-size: cover;
}

.FWD_checkbox:checked+label:after {
	/*content: '\2714';*/
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
/* radio */
.FWD_radio {
	display: none;
}
.FWD_radio+label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.FWD_radio:checked+label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.FWD_radio:checked+label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.FWD_radio+label:active,
.FWD_radio:checked+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/*alert弹出框标题*/

.FWD_alert .FWD_alert_tips,.FWD_confirm .FWD_confirm_tips {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
}
.FWD_alert_info_one,.FWD_confirm_info_one{
	text-align: center;
	font-size: 14px;
}
.FWD_alert_info_more,.FWD_confirm_info_more{
	padding: 0 25%;
	font-size: 14px;
}

.FWD_alert_btns_warp,.FWD_confirm_btns_warp{
	text-align: center;
	margin-top: 20px;
}

/*alert弹出框样式、confirm*/

.FWD_confirm,
.FWD_alert {
	position: fixed;
	z-index: 9;
	min-width: 800px;
	left: 50%;
	background: #fff;
	border-radius: 5px;
	padding:10px;
	top: 30%;
	transform: translate(-50%,-50%);
}

.FWD_confirm .FWD_confirm_tips {
	text-align: center;
	font-size: 16px;
}
.FWD_alert_info_Warp,.FWD_confirm_info_Warp{
	margin:10px 0;
}

/*alert、comfirm中的确定按钮样式*/

.FWD_confirm .enter_btn,
.FWD_alert .enter_btn {
	width: 60px;
	height: 30px;
	border-radius:5px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #0093e7;
	margin: 0 30px;
}
.FWD_confirm .enter_btn:active,
.FWD_alert .enter_btn:active{
	background: #00a5f7;;
}


/*comfirm中的取消按钮样式*/

.FWD_confirm .cancel_btn {
	width: 60px;
	height: 30px;
	border-radius:5px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #ccc;
	margin: 0 30px;
}


/*弹出层样式*/

.FWD_background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 8;
}


/*设置滚动条的样式*/


/* 滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。*/

*::-webkit-scrollbar {
	width: 17px;
	background: transparent;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	width: 17px;
	background: #f6f6f6;
	border-radius: 5px;
	cursor: pointer;
}


/*滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/

*::-webkit-scrollbar-button {
	display: none;
}
/*设置IE滚动条的样式*/
* {
	scrollbar-track-color: #fff;
	scrollbar-base-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-highlight-color: #f1f1f1;
	scrollbar-face-color: #fff;
	scrollbar-arrow-color: #f1f1f1;
	scrollbar-shadow-color: #f1f1f1;
}
/*颜色分类*/
.FWD_blue{
	color: #2197ef;
}















































