.main_con{
	padding: 26px;
	background: #f2f3f5;
	flex: 1;
}


/*核保结论*/
.Underwriting_results{
	position: fixed;
	height: 75px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left:276px ;
	box-shadow: 0 0 5px #ccc;
	background: #fff;
	z-index: 2;
	margin-right: 43px;
	border-radius: 5px;
	display: flex;
	flex-flow:row;
	min-width: 1047px;
}
.Underwriting_results_warp{
	flex: 1;
	margin: 0 20px;
}
.Policy_number{
	display: flex;
	flex-flow: row;
	margin-top: 15px;
}
.Underwriting_results_warp .Underwriting_results_text{
	height: 38px;
	width: 100%;
	border: 1px solid #ebebeb;
	padding-left: 15px;
	border-radius: 3px;
	box-sizing: border-box;
	margin-top: 15px;
}
.Underwriting_results_btns .btn_normal{
	height: 38px;
	line-height: 38px;
	width: 90px;
	margin: 15px 10px;
}
.Policy_number_li{
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 16px;

}
.Policy_number_li.active{
	color: #0093e7;
}

.first_group{
	height: 367px;
	display: flex;
	flex-flow: row;
	margin-bottom: 26px;
	
}
.insured_warp{
	flex: 1;
	
	background: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	margin-right: 26px;
	flex-flow:  column ;
}
.Problem_parts{
	flex: 2;
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-flow: column;
}

.main_center_group{
	height: 548px;
	display: flex;
	flex-flow: row;
	margin-bottom: 26px;
}
.Policy_information_left{
	flex: 1;
	background: #fff;
	border-radius: 8px;
	margin-right: 26px;
}
.Policy_information_right{
	flex: 2;
	border-radius: 8px;
	display: flex;
	flex-flow: row;
}
.Policy_information{
	flex: 1;
	background: #fff;
	border-radius: 8px;
}
.Policy_information_right .Policy_information_1{
	margin-right: 26px;
}
.Policy_information:last-child{
	margin-right: 0;
}
.main_bottom_group{
	height: 500px;
	background: #fff;
	border-radius: 8px;
}

/*主被保人、次被保人*/
.insured_people_tab{
	margin:18px 30px 0 58px;
	float: left;
}
.insured_people_tab .insured_people_li,
.Problem_parts_tab_Warp .Problem_parts_tab{
	float: left;
	width: 120px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;

}
.insured_people_tab .insured_people_li.active,.Problem_parts_tab_Warp .Problem_parts_tab.active{
	border-bottom: 3px solid #1295F3;
	line-height: 45px;
	color: #1295F3;
}
.insured_people_info_warp{
	display: flex;
	flex-flow: row;
	position: relative;
	flex: 1;
	margin: 10px 30px 0 58px;
}
.insured_people_info{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding-left: 10px;
}
.insured_people_info span.name{
	font-size:20px ;
}
.insured_people_info span.name,.insured_people_info span.age,.insured_people_info span.sex{
	margin-right:  30px;
}
.insured_people_info span.age,.insured_people_info span.sex{
	font-size: 16px;
	color: #999;
}
.insured_people_info_warp img{
	width: 100%;
}

/*问题件列表*/
.Problem_parts_tab_Warp{
	height: 40px;
	
}
.Problem_parts_top{
	margin: 18px 40px 26px 44px;
}
.Problem_parts_table{
	flex: 1;
	margin: 0 40px 20px 44px;
	border: 1px solid #e6e6ff;
	display: flex;
	flex-flow: column;
}
/*.Problem_parts_table .table_{
	width: 100%;
	table-layout: fixed;
}
.Problem_parts_table .table_ thead th{
	text-align: center;
	padding: 0 5px;
	background: #f8f9fe;
}
 .Problem_parts_table .Problem_parts_tbodyData tr td{
 	text-align: center;
 	padding: 0 5px;
 }

 .Problem_parts_table .Problem_parts_tbodyData tr,.Problem_parts_table .table_ thead tr{
 	height: 47px;
 	line-height: 47px;
 }
.Problem_parts_table .Problem_parts_tbodyData td,.Problem_parts_table .table_ thead th{
	border-bottom: 1px solid #e6e6ff;
}

.Problem_parts_table .Problem_parts_tbodyData tr:last-child td{
	border-bottom: none;
}*/

.simulation_table{
	display: flex;
	flex-flow: row;
	overflow-y: scroll;
	border-bottom: 1px solid #e6e6ff;
	background: #f8f9fe;
}
.simulation_con{
	flex: 1;
	overflow-y: auto;
}
.simulation_tr{
	height: 47px;
	border-bottom: 1px solid #E6E6FF;
	display: flex;
	flex-flow:row ;
}
.simulation_tr:last-child{
	border-bottom: none;
}
.simulation_td{
	flex: 1;
	
}
.simulation_tds{
	height: 100%;
	line-height: 47px;
	text-align: center;
	font-size: 14px;
	padding: 0 5px;
	box-sizing: border-box;
}
.simulation_table .simulation_table_th{
	flex: 1;
}
.simulation_table_th_checkbox label{
	top: 8px;
}
.simulation_table li{
	text-align: center;
	height: 47px;
	line-height: 47px;
	font-size: 16px;
	padding: 0 5px;
	box-sizing: border-box;
	
}

.simulation_tds .input,.simulation_tds .select{
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #E6E6FF;
	width: 100%;
	border-radius: 3px;
}
.simulation_table_th_180{
	width: 180px;
}
.simulation_table_th_80{
	width: 80px;
}
.simulation_table_th_50{
	width: 50px;
}
.simulation_table_th_30{
	width: 30px;
}
.simulation_table_th_120{
	width: 120px;
}
.simulation_table_th_checkbox{
	width: 50px;
}
.Problem_parts_tab_Warp{
	float: left;
}
.Problem_parts_tab{
	float: left;
}
.Problem_parts_operation{
	float: right;
}
.Problem_parts_operation_li{
	float: left;
}
.Problem_parts_operation .Problem_parts_operation_li{
	height:48px ;
	text-decoration: underline;
	color:#0093e7 ;
	line-height: 48px;
	font-size: 16px;
	margin-left: 20px;
	cursor: pointer;
}




































