html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    font-size: 100%;
}
html,body{
    color: #333;
}
body{
    background: #fff;
    overflow-x: hidden;
}
ul,ol,li{
    list-style: none;
}
a:link,a:visited{
    color: #333;
    text-decoration: none;
}
img{
    border: none;
}
em{
    font-style: normal;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
ul{
	list-style:none;
}

/*layout*/
.box_append_tabs{
	height:40px;
	margin-bottom:20px;
	position:relative;
}
.span_prev,.span_next{
	display:block;
	width:20px;
	height:40px;
	position:absolute;
	top:0;
	left:-20px;
	background:url(images/tabs_prev.png) center center no-repeat;
	cursor:pointer;
	display:none;
}
.span_next{
	left:auto;
	right:-20px;
	background:url(images/tabs_next.png) center center no-repeat;
}
.append_tabs_panel{
	height:40px;
	overflow:hidden;
}
.append_tabs{
}
.append_tabs li{
	padding:0 30px;
	float:left;
	height:40px;
	line-height:40px;
	border:none;
	white-space:nowrap;
	background:#fff;
	font-size:14px;
	cursor:pointer;
	margin-right:2px;
	position:relative;
}
.append_tabs li.current{
	background:#399afe;
	color:#fff;
}
.icon_delete{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	right:5px;
	top:10px;
	background:url(images/icon_delete.png) center center no-repeat;
}
.append_tabs_con_hide{
	display:none;
}
.box_form,.box_form_sub{
	border-top:7px solid #399afe;
}
.box_form_sub{
	margin-top:30px;
}
.form_tabs_list_wei{
	border-top:7px solid #399afe;
	margin-top:50px;
}
.form_tabs{
	height:48px;
	border-bottom:1px solid #dedede;
	background:#fff;
}
.form_tabs li{
	float:left;
	height:48px;
	line-height:48px;
	padding:0 20px;
	text-align:center;
	font-size:17px;
	color:#616264;
	position:relative;
	cursor:pointer;
}
.form_tabs li.current{
	color:#399afe;
}
.icon_form_tabs_cur,.icon_form_tabs_cur_blue{
	width:17px;
	height:10px;
	display:block;
	position:absolute;
	background:url(images/icon_form_tabs_cur.png) #fff;
	bottom:-1px;
	left:50%;
	margin-left:-9px;
}
.icon_form_tabs_cur_blue{
	background:url(images/icon_form_tabs_cur_blue.png) #fff;
}
.ul_form{
	padding:20px;
	background:#fff;
}
.li_form{
	float:left;
	width:49%;
	margin:10px auto;
	position:relative;
	height:30px;
	line-height:30px;
}
.clear{
	clear:both;
}
.form_label{
	position:absolute;
	left:0;
	width:120px;
	text-align:right;
}
.form_value{
	margin-left:140px;
}
.span_blue{
	color:#3d9cfe;
	font-size:21px;
}
.box_form_btn{
	padding:20px 0;
	text-align:right;
	background:#fff;
}
.form_tabs_con_hide,.form_tabs_bottom_con_hide,.box_form_sub_hide{
	display:none;
}
/*table_list*/
.form_tabs_list{
	position:relative;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
	background:#fff;
}
.table_list{
	min-width:100%;
	border-collapse:collapse;
}
.table_list tr td{
	white-space:nowrap;
	height:50px;
	text-align:center;
	font-size:12px;
	padding:0 10px;
}
.table_list_small{
	width:100%;
}
.table_list_small tr td{
	height:40px;
}
/*.table_list tr:nth-child(even) td{
	background:#eff7ff;
}*/
.table_list tr.t_head td{
	background:#eff7ff;
	color:#399afe;
	font-size:14px;
}
.list_oper,.list_daochu,.list_oper_yingxiang{
	margin:auto 5px;
	cursor:pointer;
}

/*input*/
.input{
	height:30px;
	line-height:30px;
	width:200px;
	border:1px solid #ababab;
}
.input_date{
	padding:0 30px 0 10px;
	width:160px;
	background:url(images/icon_date.png) right center no-repeat;
}
/*select*/
.group_select{
	position:relative;
	/*width:200px;*/
}
.group_select select{
	width:200px;
	height:30px;
	font-size:15px;
}
.box_select_val{
	height:30px;
	position:relative;
	border:1px solid #ababab;
}
.div_select{
	height:30px;
	line-height:30px;
	padding:0 10px;
	margin-right:30px;
	cursor:pointer;
	font-size:14px;
}
.icon_select{
	position:absolute;
	width:32px;
	height:32px;
	right:0;
	top:0;
	background:url(images/icon_select.png) center center no-repeat;
}
.list_ul_select{
	position:absolute;
	left:0;
	right:0;
	border:1px solid #ababab;
	border-top:none;
	background:#fff;
	display:none;
	z-index:1;
}
.list_ul_select li{
	line-height:30px;
	padding:0 10px;
	cursor:pointer;
	font-size:14px;
}
.list_ul_select li:hover{
	background:#ede4e4;
}

/*button*/
.button{
	height:30px;
	line-height:30px;
	padding:0 30px;
	color:#fff;
	background:#399afe;
	border:none;
	margin:auto 10px;
	cursor:pointer;
}
.btn_page_num{
	width:71px;
	height:26px;
	line-height:26px;
	color:#fff;
	font-size:12px;
	background:url(images/bg_btn_radius_blue.png);
	border:none;
	cursor:pointer;
}
.input_page_num{
	width:50px;
	height:24px;
	line-height:24px;
	padding:0 5px;
	border:1px solid #ccc;
}
.box_page_num{
	text-align:center;
	padding:10px;
	position:relative; 
	background:#fff;
}
.box_num_text{
	position:absolute;
	line-height:26px;
	right:10px;
	top:10px;
	font-size:12px;
}
.caption{
	padding:10px 0;
	color:#f15252;
	text-align:center;
	background:#fff;
}
.form_tabs_list_hide{
	display:none;
}
.box_list_hasline{
	background:#fff;
}
.hasline_titles{
	line-height:40px;
	font-size:17px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	position:relative;
}
.link_back{
	display:block;
	width:50px;
	padding-left:25px;
	color:#399afe;
	font-size:17px;
	background:url(images/link_back.png) left center no-repeat;
	position:absolute;
	left:10px;
	cursor:pointer;
}
.hasline_table{
	position:relative;
	min-width:100%;
	border-collapse:collapse;
}
.hasline_table_l{
	position:absolute;
	top:0;
	left:0;
	width:200px;
}
.hasline_table_r{
	position:relative;
	margin-left:200px;
	overflow-x:auto;
}
.hasline_table{
	min-width:100%;
	border-collapse:collapse;
}
.hasline_table tr td{
	white-space:nowrap;
	height:40px;
	font-size:14px;
	text-align:center;
	border-left:1px solid #e5e6e6;
	border-right:1px solid #e5e6e6;
	padding:0 10px;
}
.hasline_table tr.t_head td{
	color:#399afe;
}
.bg_pop{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9999;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
}
.show_pop{
	position:fixed;
	top:20px;
	right:20px;
	bottom:20px;
	left:20px;
	background:#e7ecf3;
	z-index:99999;
	padding:30px;
	display:none;
}
.pop_titles{
	height:40px;
	margin-bottom:20px;
}
.title_left{
	float:left;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:17px;
	padding:0 30px;
	background:#399afe;
}
.icon_close{
	width:32px;
	height:32px;
	background:url(images/close.png);
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
}
.icon_close:hover{
	opacity:0.5;
	filter:alpha(opacity=50);
}
.box_img{
	background:#fff;
}
.table_img{
	width:100%;
	top:60px;
	width:100%;
	bottom:0;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
.img_legend{
	display:block;
	margin-left:25px;
}
.box_panel{
	position:absolute;
	top:80px;
	right:20px;
	bottom:20px;
	left:20px;
	overflow:auto;
}
.color_red{
	color:#fa5742;
}
.color_blue{
	color:#399afe;
}

/*响应式1366*/
body{
	background-color: #e7ecf3;
}
.wrapper{
	position: relative;
}
.wrapper-top,.m-t-middle-box{
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
	border-bottom: #CCCCCC solid 1px;
}
.wrapper-left,.cpic{
	width:210px;
}
.cpic,.menu-con,.m-t-middle-box,.m-t-right-box{
	height: 70px;
	line-height: 70px;
	text-align: center;
}
.m-t-middle-box{
	position: absolute;
	width: 588px;
	top: 0;
    right:150px;
}
.i-l,.m-t-r-more{
	display: none;
}
.cpic{
	position:absolute;
	background:#399afe url(images/cpic.png) no-repeat center;
	left:0;
}
.menu-con,.exit,.index-line,.index,.m-t-r-more{
	float: left;
}
.m-t-right-box,.a-bg{
	float: right;
}
.m-color,.menu-con{
	color: #399afe;
}
.menu-top{
	margin-left:210px;
    padding:0 10px;
}
.menu-con{
	font-size:24px;
}
.company,.admin,.time,.index,.exit,.inwrap dt{
	font-size: 14px;
}
.inwrap .w-second-menu-wrap{
	font-size: 13px;
	color: #FFFFFF;
}
.w-second-menu-wrap{
	display: none;
}
.w-second-menu li{
	line-height: 30px;
	padding-left:30px;
	cursor: default;
	box-sizing: inherit;
}
.w-second-menu li:hover{
	color: #399AFE;
}
.admin{
	margin:0 6px;
}
.a-bg{
	width: 184px;
	background: url(images/top2.png) no-repeat center;
}
.time{
	margin-right: 10px;
}
.index{
	background: url(images/index.png) no-repeat left center;
}
.exit{
	white-space:nowrap;
	text-overflow:ellipsis;
	background: url(images/exit.png) no-repeat left center;
}
.index,.exit,.nav-left,.w-finance,.w-business,.w-computation,.w-account,.w-record,.w-system,.w-download,.w-quality-control,.m-t-r-more{
	cursor: pointer;
}
.index,.exit{
	padding-left: 28px;
}
.index-line{
	width: 2px;
	height: 15px;
	background-color: #399afe;
	margin: 28px 11px;
}
.m-t-r-more{
	width: 23px;
	height: 70px;
	background:url(images/more.png) no-repeat center;
}
.wrapper-left{
	padding:24px 0;
	background-color: #4f5f6f;
	position: absolute;
	left: 0;
	top:70px;
	z-index: 3;
	display: block;
}
.w-nav-w:hover,.w-second-menu-wrap{
	background-color: #40505f;
}
.w-finance,.w-business,.w-computation,.w-account,.w-record,.w-system,.w-download,.w-quality-control,.nav-left{
	height: 46px;
	line-height: 46px;
	padding-left: 69px;
	color: #FFFFFF;
}
.w-f-con{
	display:block;
	height:46px;
	line-height:46px;
	font-size:14px;;
}
.w-click-list{
	white-space: nowrap;
	overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding-right: 4px;
}
.w-finance{
	background: url(images/left1.png) no-repeat 30px center;
}
.w-business{
	background: url(images/left2.png) no-repeat 30px center;
}
.w-computation{
	background: url(images/left3.png) no-repeat 30px center;
}
.w-account{
	background: url(images/left4.png) no-repeat 30px center;
}
.w-record{
	background: url(images/left5.png) no-repeat 30px center;
}
.w-system{
	background: url(images/left6.png) no-repeat 30px center;
}
.w-download{
	background: url(images/left7.png) no-repeat 30px center;
}
.w-quality-control{
	background: url(images/left8.png) no-repeat 30px center;
}
.wrapper-right{
	margin-left:210px;
	padding:20px 40px;
	background:#e7ecf3;
}
.w-second-menu{
	font-size: 12px;
}
.menu-more{
	width: 20px;
	height: 60px;
	background: url(images/left.png) no-repeat center;
    position: absolute;
    left:210px;
    top: 300px;
    cursor:pointer;
}
.error{
	position: absolute;
	left: 0;
    top: 25px;
    font-size: 12px;
	color: red;
}
.box_radio{
	display: inline-block;
	margin-right: 16px;
}
.input_radio{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.summarizing:hover,.remedy:hover{
	color: #399afe;
	cursor: pointer;
}
.sure-button{
	display: block;
	height: 20px;
	line-height: 20px;
	background-color: #399AFE;
	color: #FFFFFF;
	cursor: pointer;
}
.search:link,.export:link{
	color:#2a86e4;
}
.search{
	margin-right: 5px;
}
.form-bottom{
	border-bottom:1px dotted #dedede;
}
.form_tabs li.tip-submission{
	padding-left: 30px;
	background: url(images/auto-bs.png) no-repeat left center;
}
.form_tabs li.tip-check{
	padding-left: 30px;
	background: url(images/auto-hd.png) no-repeat left center;
}
.form-tabs-tip{
	line-height: 48px;
	text-align: center;
}
.table_list_small tr td{
	cursor: default;
}
.timebg1,.timebg2,.timebg3,.timebg4{
	color:#FFFFFF;
	line-height: 40px;
	height:40px;
}
.timebg1{
	background-color:#fa5742;
}
.timebg2{
	background-color:#399afe;
}
.timebg3{
	background-color:#ffa201;
}
.timebg4{
	background-color:#e5e5e5;
}
.hasline_table tr td{
	border-bottom: 1px solid #e5e6e6;
	cursor: default;
}
.hasline_table tr td.reason{
	white-space:normal;
	text-align: left;
}
@media screen and (max-width: 1270px){
	
}

@media screen and (max-width: 1160px){
	.m-t-right-box,.i-l,.m-t-r-more{
		display: block;
	}
	.m-t-middle-box{
		width: 100%;
		position: relative;
		right:auto;
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.wrapper-right{
		margin-left:0;
	}
	.wrapper-left{
		display: none;
	}
	.menu-more{
		left:0;
		background-image:url(images/right.png);
	}
}
@media screen and (max-width: 900px){
	.li_form{
		width:100%;
	}
}